p {
    color: yellow
}
body {
    height: 100px;
    overflow: auto;
}

/*#test{
    color: red;
}
.test {
    color: green !important;
}*/

/**{
    color: red;
}*/
div > span {
    color: green;
}

div > #ui {
    color: black;
}

div + span {
  color: red;
}

div ~ p {
    color: red;
}
.position {
    position: relative;
    top:80px;
}